<!DOCTYPE html>
<html lang="en-US" >
<head>
  <title>File Based CMS</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/stylesheets/application.css">
  <script src="/javascripts/jquery-3.7.1.min.js"></script>
  <script src="/javascripts/application.js"></script>
</head>
<body>
  <div id="error">
    <% if session[:message] %>
      <p><%= session.delete(:message) %></p>
    <% end %>

    <script type="text/javascript">
      setTimeout(function() {
        document.getElementById('error').style.display = 'none';
      }, 3000);
    </script>
  </div>

  <h1>File Based CMS</h1>
  <ul>
    <% files.each do |file| %>
      <div class="file_name">
        <li>
          <a href="/<%= file %>"><%= file %></a>
          <div class="destructive-action">
            <a href="/<%= file %>/edit">Edit</a>
            <form class="delete" action="/<%= file %>/delete" method="post">
              <button>Delete</button>
            </form>
          </div>
        </li>
      </div>
    <% end %>
  </ul>

  <div id="new_document">
    <a href="/new_document">New Document</a>
  </div>
</body>
</html>